<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Nelibur.Sword" version="3.1.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="NLog" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net461" />
  <package id="SafeConfig" version="1.0.0.31" targetFramework="net461" />
  <package id="Telegram.Bot" version="8.1.0" targetFramework="net461" />
  <package id="Topshelf" version="3.3.1" targetFramework="net461" />
</packages>